<div class="card">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <div class="h2"><span class="badge badge-warning">{{ car.Supplier.Title }}</span></div>
                </div>
                <div class="col-sm">
                    <h4 class="card-title">{{ car.Vehicle.Title }}</h4>
                    <h6 class="card-subtitle mb-2 text-muted">{{ displayDate(car.PickUp.Date) }}</h6>
                </div>
                <div class="col-sm">
                    <small>Tax: {{ car.TaxAmount }}</small><br />
                    <strong>Total: {{ car.TotalAmount }}</strong>
                </div>
                <div class="col-sm">
                    <label class="badge badge-success">{{ car.Status }}</label>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
  import displayDate from '../../helpers/date';

  export default {
    data() {
      return {
        car: null
      };
    },
    helpers: {
      displayDate
    }
  };
</script>
