<div>
  <h1>Draggable/sortable grid using Sortable</h1>

  <div id="grid" class="grid">
    <div class="item">
      <div class="item_handle"></div>
      <span>1</span>
      <img src="/img/bear.jpg"/>
    </div>

    <div class="item">
      <div class="item_handle"></div>
      <span>2</span>
      <img src="/img/chain.jpg"/>
    </div>

    <div class="item">
      <div class="item_handle"></div>
      <span>3</span>
      <img src="/img/chain.jpg"/>
    </div>

    <div class="item item-wide">
      <div class="item_handle"></div>
      <span>4</span>
      <img src="/img/sky.png"/>
    </div>

    <div class="item">
      <div class="item_handle"></div>
      <span>5</span>
      <img src="/img/chain.jpg"/>
    </div>

    <div class="item">
      <div class="item_handle"></div>
      <span>6</span>
      <img src="/img/chain.jpg"/>
    </div>

    <div class="item">
      <div class="item_handle"></div>
      <span>7</span>
      <img src="/img/sky.png"/>
    </div>
  </div>
</div>


<style>
  .grid {
    background: black;
    width: 1200px;
  }

  .grid::after {
    content: "";
    display: table;
    clear: both;
  }

  .item {
    background: blue;
    color: white;
    float: left;
    font-size: 50px;
    width: 580px;
    height: 300px;
    overflow: hidden;
    position: relative;
    margin: 10px;
  }

  .sortable-ghost {
    background: yellow;
    opacity: 0.4;
  }

  .sortable-ghost * {
    visibility: hidden;
  }

  .item-wide {
    width: 1180px;
  }

  .item img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 0;
  }

  .item span {
    color: white;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }

  .item_handle {
    background: yellow;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    cursor: move;
    cursor: -webkit-grabbing;
  }
</style>

<script>
  import Sortable from 'sortablejs';

  export default {
    oncreate() {
      this.grid = Sortable.create(document.getElementById('grid'), {
        handle: '.item_handle',
        animation: 150,
        setData(dataTransfer, dragEl) {
          console.log('setData', dataTransfer, dragEl);
        },
        onChoose(evt) {
          console.log('onChoose', evt);
        },
        onStart(evt) {
          console.log('onStart', evt);
        },
        onEnd(evt) {
          console.log('onEnd', evt);
        },
        onAdd(evt) {
          console.log('onAdd', evt);
        },
        onUpdate(evt) {
          console.log('onUpdate', evt);
        },
        onSort(evt) {
          console.log('onSort', evt);
        },
        onRemove(evt) {
          console.log('onRemove', evt);
        },
        onFilter(evt) {
          console.log('onFilter', evt);
        },
        onMove(evt, originalEvent) {
          console.log('onMove', evt, originalEvent);
          evt.preventDefault();
        },
        onClone(evt) {
          console.log('onClone', evt);
        }
      });
    }
  };
</script>
